# ignore visual studio folder
.vs/

# ignore unnecessary build files
source/EveryRay_Core/Debug/
source/EveryRay_Core/Release/
source/EveryRay_Runtime_Win64_DX11/Debug/
source/EveryRay_Runtime_Win64_DX11/Release
source/EveryRay_Runtime_Win64_DX12/Debug/
source/EveryRay_Runtime_Win64_DX12/Release

# ignore bin folders
bin/
!bin/x64/dx11/Debug/imgui.ini
!bin/x64/dx11/Release/imgui.ini
!bin/x64/dx12/Debug/imgui.ini
!bin/x64/dx12/Release/imgui.ini

# ignore files debug files
*.obj
!content/models/*.obj
!content/models/vegetation/*.obj

# ignore private models
content/models/private/

# ignore generated light probes in levels (except global probes):
# - testScene
content/levels/testScene/diffuse_probes/*
content/levels/testScene/specular_probes/*
!content/levels/testScene/diffuse_probes/empty.file
!content/levels/testScene/specular_probes/empty.file
!content/levels/testScene/diffuse_probes/diffuse_probe_global.dds
!content/levels/testScene/specular_probes/specular_probe_global.dds
# - sponzaScene
content/levels/sponzaScene/diffuse_probes/*
content/levels/sponzaScene/specular_probes/*
!content/levels/sponzaScene/diffuse_probes/empty.file
!content/levels/sponzaScene/specular_probes/empty.file
!content/levels/sponzaScene/diffuse_probes/diffuse_probe_global.dds
!content/levels/sponzaScene/specular_probes/specular_probe_global.dds
# - other levels...

