# ignore visual studio folder
.vs/

# ignore external libraries
external/Assimp
external/DirectXTK
external/Effects11
!external/ImGUI
*.lib

# taken from NVIDIA GameWorks
content/shaders/VolumetricLight
source/Game/VolumetricLightingDemo.h
source/Game/VolumetricLightingDemo.cpp

# taken from NVIDIA GameWorks
content/shaders/WaterSimulation
source/Game/WaterSimulationDemo.cpp
source/Game/WaterSimulationDemo.h
source/Library/FastFourierTransform.cpp
source/Library/FastFourierTransform.h
source/Library/OceanSimulator.cpp
source/Library/OceanSimulator.h

